@model PaginatedList<DristRent.Models.Car>

@{
    ViewData["Title"] = "Cars";
}

<h1 class="display-4 pb-5">All Cars</h1>

<form asp-action="Index" method="get">
    <div class="form-actions no-color">
        <p>

            <input type="text" name="SearchString" value="@ViewData["CurrentFilter"]" />
            <input placeholder="Search" type="submit" value="Search" class="btn btn-default bg-success" /> |
            <a asp-action="Index">Back to Full List</a>

        </p>
    </div>
</form>
<div class="row">
    @foreach (var item in Model)
    {
        <div class="col-4">
            <div class="ajaxbg d-none">
                <img src="~/images/ajax-loader.gif" />
                <p class="lead alert alert-success text-center d-none">
                    The car has been added!
                </p>
            </div>
            <img src="~/media/cars/@item.Image" class="img-fluid" />
            <h4 asp-action="Index" asp-route-sortOrder="@ViewData["NameSortParm"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">
                @item.Type
            </h4>
            <div>
                @Html.Raw(item.City)
            </div>
            <p>
                @item.Price.ToString("C2")
            </p>
            <p>
                <a asp-controller="Booking" asp-action="Add" asp-route-id="@item.Id" data-id="@item.Id" class="btn btn-primary bookNow">Book now</a>
            </p>

        </div>
    }

</div>

@{
    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
}

<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex - 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @prevDisabled">
    Previous
</a>
<a asp-action="Index"
   asp-route-sortOrder="@ViewData["CurrentSort"]"
   asp-route-pageNumber="@(Model.PageIndex + 1)"
   asp-route-currentFilter="@ViewData["CurrentFilter"]"
   class="btn btn-default @nextDisabled">
    Next
</a>
@section Scripts{
    <script>
        $(function () {
            $("a.bookNow").click(function (e) {
                e.preventDefault();
                let ajaxDiv = $(this).parent().parent().find("div.ajaxbg");
                ajaxDiv.removeClass("d-none");
                let id = $(this).data("id");

                $.get('/booking/add/' + id, {}, function (data) {
                    $("div.smallbooking").html(data);
                    ajaxDiv.find("img").addClass("d-none");
                    ajaxDiv.find("p").removeClass("d-none");
                    setTimeout(() => {
                        ajaxDiv.animate({ opacity: 0 }, function () {
                            $(this).addClass("d-none").fadeTo(.1, 1);
                            $(this).find("img").removeClass("d-none");
                            $(this).find("p").addClass("d-none");
                        });
                    });

                });

            });
        });
    </script>
}
